#root{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;;
}
#weekSchedule{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 2px;
}
.date-picker{
  display: flex;
  justify-content: space-around;
  border: solid 2px;
  align-items:center;
}
#date-picker-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard{
  margin:20px;
}
#edit-schedule{
  display:flex;
  flex-direction: row;
  min-height: 100vh;

}
#employee-list{
  width: 33%;
  max-height: 50%;
}
.edit-schedule-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}