#root{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;;
}
#weekSchedule{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 2px;
}
.date-picker{
  display: flex;
  justify-content: space-around;
  border: solid 2px;
  align-items:center;
}
#date-picker-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dashboard{
  margin:20px;
}
#edit-schedule{
  display:flex;
  flex-direction: row;
}
#employee-list{
  width: 245px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#employee-availability{
  height: 95%;
  width: 225px;
}
#edit-box{
  display: flex;
  height: 46vh;
  justify-content: space-between;
  padding: 3% 0;
  border: solid;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #effdff;
}
.edit-schedule-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3% 0;
}
.add-shift-container{
  display:flex;
}
.selected-shifts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  margin: 0 0 0 2%;
  padding: 1%;
}
.selected-employee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  margin: 0 2% 0 0;
  padding: 1%;
}
.week-day{
  border: solid 2px #45698f;
  margin: 1%;
  padding: 2%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.week-day-name{
  padding: 6px;
}